<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neuedu.entity.Account">
    <update id="updatemoney" parameterType="map">
    update account set money=#{money} where username=#{username}
    </update>
</mapper>