<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neuedu.entity.UserOrder">
    <insert id="createOrder"  parameterType="order"  statementType="PREPARED" useGeneratedKeys="true">
        insert into userorder(order_no,user_id,shipping_id,payment,payment_type,postage,status,payment_time,create_time,update_time)
					 values (#{order_no},#{user_id},#{shipping_id},#{payment},#{payment_type},#{postage},#{status},now(),now(),now())
    </insert>
    <delete id="deleteUserOrder" parameterType="int">
        delete from userorder where id=#{id}
    </delete>
    <select id="findById" parameterType="int" resultType="order">
        select id, order_no,user_id,shipping_id,payment,payment_type,postage,status,payment_time,create_time,update_time from  userorder where id=#{id}
    </select>
    <select id="findTotalCount" resultType="java.lang.Integer">
        select count(id) from  userorder
    </select>
    <select id="findProductByPage" parameterType="map" resultType="order">
        select id, order_no,user_id,shipping_id,payment,payment_type,postage,status,payment_time,create_time,update_time from  userorder limit  #{offset},#{pageSize}
    </select>
    <resultMap id="findByorder_nomap" type="order" autoMapping="true">

    </resultMap>
    <!--<select id="findByorder_no" resultMap="findByorder_nomap" parameterType="java.lang.Long">-->
        <!--select uo.id, uo.order_no,uo.user_id,uo.shipping_id,uo.payment,uo.payment_type,uo.postage,uo.status,uo.payment_time,uo.create_time,uo.update_time ,ui.id,ui.order_no,ui.user_id,ui.productid,ui.product_name,ui.product_image,ui.current_unit_price,ui.quantity,ui.total_price,create_time-->
        <!--from userorder uo-->
        <!--left join userorderitem ui-->
        <!--on ui.order_no=uo.order_no-->
    <!--</select>-->
    <!--<select id="findByorder_no" parameterType="long" resultMap="orderitems_resultmap">-->
        <!--select uo.order_no,uo.user_id,uo.shipping_id,uo.payment,uo.payment_type,uo.status,-->
        <!--uoi.productid,uoi.product_name,uoi.current_unit_price,uoi.total_price,uoi.quantity-->
        <!--from userorder uo-->
        <!--left  join userorderitem uoi-->
        <!--on  uo.order_no=uoi.order_no-->
        <!--WHERE  uo.order_no=#{order_no}-->
    <!--</select>-->
</mapper>