<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neuedu.entity.Product">

    <insert id="addProduct"  parameterType="com.neuedu.entity.Product"  statementType="PREPARED" useGeneratedKeys="true">
        INSERT into product(name,pdesc,price,rule,image,stock,categoryid) values (#{name},#{pdesc},#{price},#{rule},#{image},#{stock},#{categoryid})
    </insert>
    <select id="findAll" resultType="com.neuedu.entity.Product" >
        select id,name,pdesc,price,rule ,image,stock,categoryid from  product
    </select>
    <update id="updateProduct" parameterType="com.neuedu.entity.Product">
        update product set name=#{name},pdesc=#{pdesc},price=#{price},rule=#{rule},image=#{image},stock=#{stock},categoryid=#{categoryid} where id=#{id}
    </update>
    <delete id="deleteProduct" parameterType="java.lang.Integer">
        delete from product where id=#{id}
    </delete>
    <select id="findTotalCount" resultType="java.lang.Integer">
        select count(id) from  product
    </select>
    <select id="findProductByPage" parameterType="map" resultType="com.neuedu.entity.Product">
        select id,name,pdesc,price,rule ,image,stock,categoryid from  product limit #{offset},#{pageSize}
    </select>
    <select id="findById" parameterType="int" resultType="product" >
        select id,name,pdesc,price,rule ,image,stock,categoryid from  product where id=#{id}
    </select>
</mapper>